<p id="notice"><%= notice %></p>

<h1>Send Sms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @send_sms.each do |send_sm| %>
      <tr>
        <td><%= link_to 'Show', send_sm %></td>
        <td><%= link_to 'Edit', edit_send_sm_path(send_sm) %></td>
        <td><%= link_to 'Destroy', send_sm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Send Sm', new_send_sm_path %>
