<p>This example uses the addEventListener() method to attach a "mouseover" and "mouseout" event to a h1 element.</p>

<h1 id="demo">Products</h1>

<script>
document.getElementById("demo").addEventListener("mouseover", mouseOver);
document.getElementById("demo").addEventListener("mouseout", mouseOut);

function mouseOver() {
    document.getElementById("demo").style.color = "red";
}

function mouseOut() {
    document.getElementById("demo").style.color = "black";
}
</script>

<p id="notice"><%= notice %></p>

<!--<h1>Products</h1>-->

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="products">
    <%= render @products %>
</table>
<p><%= will_paginate @products %></p>
<%= form_for(@product, remote: true) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <%= f.label :price %><br>
  <%= f.text_field :price %>
  <%= f.submit %>
<% end %>
<br>

<%= link_to 'New Product', new_product_path %>
